
/* Card Container and content */
.backgroundgray{
    background-color: #b0babf;
  }

/* Card Container and content */
.backgroundaquamarine{
    background-color: aquamarine;
  }
  .backgroundaqua{
    background-color: aqua;
  }

  /* Card Container and content */
.backgroundcadetblue{
    background-color: cadetblue;
  }

.backgroundblue{
    background-color: blue;
}