// Main or general styles to apply within the Login and Onboarding States

html,
body {
  height: 100%;
  width: 100%;
  font-family: Inter;
}

.Frame {
  float: left;
  justify-content: flex-start; 
  /* margin: 6px 0 14px 119px;
  padding: 13px 13px 13px 13px; */
}

.frame-img
{
  width: 100%;
  max-width: 400px;
  height: auto;
  justify-content: flex-start; 
}

.Brainrap-V1 {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.landingPageContainer {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 /* Header */
 .Header---Controls {
  display:flex;
  justify-content:flex-end;
  float: left;
  align-items:center;
  width: 100%;
  height: 2%;
  margin: 0 0 5px;
  padding: 8px 16px 8px 0;
  background-color: #fff;

  .controlsContainer{
    width: 100%;
    height:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
  }
}
// Used to context the header button
.contextText {
  float:right;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.13px;
  text-align: center;
  color: #252c32;
}

.btn{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.btnHeader{
  float:right;
  width: 62px;
  height: 24px;
  margin: 0 0 0 16px;
  padding: 0 8px;
  border-radius: 4px;
  background-color: #5b6871;
}

.btnHeaderTitle {
  float:right;
  width: 46px;
  height: 24px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.08px;
  text-align: center;
  color: #f6f8f9;
}

.footerContainer{
  float: left;
  width: 100%;

  p{
    float:left;
    font-size: 16px;
  }
}
.footerControls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerButton{
    border: none;
    background: none;
    cursor: pointer;
}

input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  }
}

//Login Main Container
.login {
  // width: 27em;
  // height: 40em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  // Change this bottom card
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    background-color: #3498db;
    width: 15%;
    position: absolute;
    bottom: -40%;
    left: 85%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      bottom: -40%;
      align-items: flex-end;
      &:hover {
        bottom: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        height: 45%;
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
  
  //Button
  .btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #2386c8;
    }
    &:focus {
      outline: none;
    }
  }
}
